<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Login Here</h1>
<form th:action="@{/loginstatus}" th:object="${adminhome}" method="post">
<label for="username">Enter Username</label>
<input type="text" placeholder="Username" name="username" th:field="*{username}">
<br>
<br>
<label for="password">Enter Password</label>
<input type="password" placeholder="Password" name="password" th:field="*{password}">
<br>
<br>

	
<input type="submit">
<a th:href="@{/empReg}">New User? Register Here</a>
<p th:if="${param.error}">Enter Valid Details</p>
</form>
</body>
</html>