<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<div class="container">
    <h1>Student Update</h1>
    <form th:action="@{/saveupdate}" th:object="${student}" method="post" >
        <div>
            <input type="hidden" th:field="*{rollnumber}" name="rollnumber">
            <label for="name">Student Name</label>
            <input type="text" placeholder="Enter Your Name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <br><br>

            <label for="age">Age</label>
            <input type="text" placeholder="Enter Your Age" th:field="*{age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            <br><br>

       

            <label for="grade">Grade</label>
            <input type="text" placeholder="Enter Your grade" th:field="*{grade}">
            <br><br>
            
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" th:field="*{username}">
            <br><br>
            
            <label for="password">Grade</label>
            <input type="text" placeholder="Enter Password" th:field="*{password}">
            <br><br>

           

            

            <input type="submit">
            
        </div>
    </form>
</body>
</html>